body
{
    padding-bottom: 1000px;;
    padding-top:150px;
    background-color: rgb(231, 252, 255);
}
div
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
